.item {
    width: 30%;
    margin-bottom: 50px;
    padding-bottom: 20px;
    background: #f5f5f5;
    overflow: hidden;
    position: relative;
}

.full_item {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.full_item > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 9px;
}

.item img,
.full_item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform .5s ease;
    cursor: pointer;
}

.item img:hover, .full_item img:hover {
    transform: scale(1.05);
}

h2, .full_item h2,
p, .full_item p,
b, .full_item b {
    margin: 10px 20px;
    color: #333;
}

b, .full_item b {
    color: #5fa36a;
}

.addToCart,
.full_item .addToCart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform .5s ease;
}

.addToCart,
.full_item .addToCart:hover {
    transform: scale(1.2) translateY(-5px);
}